<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller1</servlet-name>
        <servlet-class>controller1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller2</servlet-name>
        <servlet-class>controller2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller1</servlet-name>
        <url-pattern>/controller1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/SubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller2</servlet-name>
        <url-pattern>/controller2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
