<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VendorController</servlet-name>
        <servlet-class>com.controllers.VendorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCatController</servlet-name>
        <servlet-class>SubCatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubController</servlet-name>
        <servlet-class>com.controllers.SubController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>com.controllers.ShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VendorController</servlet-name>
        <url-pattern>/VendorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCatController</servlet-name>
        <url-pattern>/SubCatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubController</servlet-name>
        <url-pattern>/SubController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/ShopController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
